body{
  margin: 0;
  text-align: center;
}

div{
  background-color: #FFF8EA;
}
h1{
  margin-top: 0px;
  font-family: 'Mitr', sans-serif;
}

h2{
  font-family: 'Noto Sans Thai', sans-serif;
}

h3{
  font-family: 'Noto Sans Thai', sans-serif;
}

.top-container{
  position: relative;
  padding-top: 100px;
}
.text{
  height: 300px;
  width: 300px;
  background-color: #ffffe6;
  border: solid;
  border-width: 50px;
  border-top: 0px;
  padding: 50px;
  margin: 10px;
}
/* .middle-container{
  height: 200px;
  width: 200px;
  background-color: blue;
}
.bottom-container{
  height: 200px;
  width: 200px;
  background-color: red;
} */
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  top: 300px;
}
.profile{
  padding-top: 100px;
}
.profile-image{
  width: 20%;
}
.skill-row{
  width: 45%;
  margin: 50px auto ;
  text-align: left;
}
.java-image{
  float: left;
  width: 15%;
  margin-right: 30px;
}
.microsoft-image{
  width: 15%;
  float: right;
  margin-left: 30px;
}
.languages-image{
  float: left;
  width: 15%;
  margin-right: 30px;
}
